@model IEnumerable<PJ_.Net_Restaurant.Models.Logo>

@foreach (var i in Model)
{
    <a href="#" class="logo">
        <img src="~/Content/images/@i.img" width="160" height="50" alt="Grilli - Home">
    </a>
}