@model IEnumerable<PJ_.Net_Restaurant.Models.Banner>

@foreach (var i in Model)
{
    <li class="slider-item active" data-hero-slider-item>

        <div class="slider-bg">
            <img src="~/Uploads/images/@i.img" width="1880" height="950" alt="" class="img-cover">
        </div>

        <p class="label-2 section-subtitle slider-reveal">@i.headtitle</p>

        <h1 class="display-1 hero-title slider-reveal">
            @i.title
        </h1>

        <p class="body-2 hero-text slider-reveal">
            @i.content
        </p>

        <a href="@i.link" class="btn btn-primary slider-reveal">
            <span class="text text-1">View Our Menu</span>

            <span class="text text-2" aria-hidden="true">View Our Menu</span>
        </a>

    </li>
}