@model IEnumerable<PJ_.Net_Restaurant.Models.OurStrength>

@foreach (var i in Model)
{
    <li class="feature-item">
        <div class="feature-card">

            <div class="card-icon">
                <img src="~/Uploads/images/@i.img" width="100" height="80" loading="lazy" alt="@i.name">
            </div>

            <h3 class="title-2 card-title">@i.name</h3>

            <p class="label-1 card-text">@i.content</p>

        </div>
    </li>
}